
.game-cards-container {
    display: list-item;
    width: 80%;
    gap: 50px;
    justify-content: center;
}

.game-card {
    background: rgba(36, 37, 44, 0.9); /* Fondo oscuro translúcido */
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    width: 100%; /* Ocupa todo el ancho del contenedor */

    margin: 10px auto; /* Margen vertical y centrado horizontal */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para efecto 3D */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: scale(1.02); /* Ligero aumento al pasar el ratón */
    box-shadow: 0 6px 15px #00ffff; /* Efecto brillante */

}

.game-name {
    font-size: 24px; /* Nombre grande y llamativo */
    color: #ff00ff; /* Color morado brillante */
    margin-bottom: 10px;
}

.game-playtime,
.game-score {
    font-size: 18px;
    color: #ffffff; /* Texto blanco */
    margin: 5px 0;
}
