.leaderboard-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    overflow-y: auto;

}

.leaderboard-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.leaderboard-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: rgba(36, 37, 44, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    text-align: left;
    color: #fff;
}

.user-info h3 {
    margin: 0;
    font-size: 22px;
    color: #00ffff;
}

.user-info p {
    margin: 5px 0;
    font-size: 20px;
    color: #a0a0a0;
}
