/* Contenedor principal de la barra de navegación */
.main-container {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el grupo de botones */
    background-color: #1f1f1f;
    gap: 40px; /* Espaciado entre el logo y la sección de los botones */
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;
}


.logo {
    width: 0px;
    height: 100%;
    padding-top: 10px;
}

/* Contenedor de los radio buttons */
.nav-container {
    display: flex;
    justify-content: center; /* Esto centra el grupo de botones */
    align-items: center;
    flex: 1; /* Toma todo el espacio restante entre la imagen y el final de la barra */
}

/* Responsive */
@media (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column; /* Cambiar a diseño vertical */
        align-items: center; /* Centrar contenido */
        height: auto; /* Permitir altura dinámica */
        gap: 10px; /* Reducir espacio entre logo y navbar */
    }

    .logo {
        width: 100px; /* Ajustar tamaño del logo en móviles */
    }

    .nav-container {
        width: 100%; /* Asegurar que el navbar ocupe todo el ancho */
        padding: 10px 0; /* Añadir espacio vertical */
    }
}