/* Contenedor principal del navbar */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 12, 41, 0.8); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 0 30px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 70px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
}

/* Estilo del logo */
.logo {
    position: absolute;
    font-family: 'Orbitron-Medium', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    cursor: pointer;
    left: 30px
}

/* Contenedor de navegación */

.container{
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;

}
/* Responsive design */
@media (max-width: 768px) {
    .main-container {
        padding: 0 15px;
        gap: 2%;
    }
    .container{
        display: flex;



        position: relative;


    }
    .radio-btn-group {
        width: 100px;
        height: 4px;
    }
    .logo {
        font-size: 15px;
        position: relative;
        margin-right: 10px;

    }
}
