/* Contenedor principal del navbar */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 12, 41, 0.23); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 0 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
    border-bottom: 2px solid rgba(255, 255, 255, 0); /* Borde sutil */
}

/* Estilo del logo */
.logo {
    position: absolute;

    left: 20px;

    align-items: center;
    justify-items: center;


}
.h1{
    align-items: center;
    justify-items: center;

}
/* Contenedor de navegación */

.container{
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;

}
/* Responsive design */
@media (max-width: 768px) {
    .main-container {
        padding: 0 15px;
        gap: 2%;
    }

    .logo {
        left: 15px;
    }
    .container{
        left: 100px

    }


}
