.inputField {
    --li-margin: 7px;
    border: 1px solid #35c4ff; /* Borde inicial azul */
    width: 300px;
    height: 50px;
    position: relative;
    border-radius: 4px;
    background-color: var(--main-color, #1f1f1f); /* Fondo oscuro */
    overflow: hidden;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transiciones suaves */
}

/* Estilo cuando el campo tiene foco */
.inputField.focused {
    border-color: #00ff00; /* Cambio de borde a verde cuando está en foco */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Sombra verde de enfoque */
}

/* Estilo del botón (si lo hubiera) */
.inputField > button {
    position: absolute;
    right: var(--li-margin);
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    z-index: 1;
}

/* Hover sobre el botón */
.inputField > button:hover {
    color: #35c4ff; /* Color al pasar el ratón */
}

/* Estilo del contenedor del input */
.inputField > li {
    position: absolute;
    left: var(--li-margin);
    right: var(--li-margin);
    top: var(--li-margin);
    bottom: var(--li-margin);
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 0;
    transition: transform 0.3s; /* Transición para la animación */
}

/* Estilo del input */
.inputField > li > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    color: white;
    font-weight: bold;
    border: none;
    filter: blur(0); /* Desenfoque por defecto */
    transition: filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s ease-in-out;
    padding: 0 10px; /* Espaciado interior */
}

/* Estilo del placeholder */
.inputField > li > input::placeholder {
    color: #aaa; /* Color del placeholder */
    font-weight: normal;
}

/* Estilo cuando el campo está en foco */
.inputField.focused > li > input::placeholder {
    color: #35c4ff; /* Cambia el color del placeholder a azul */
}

.inputField.focused > li > input {
    color: #00ff00; /* Cambia el color del texto a verde cuando está en foco */
    filter: none; /* Elimina el desenfoque cuando está enfocado */
}
