

/* General container */
.about-container {
    text-align: center;
    padding: 40px;
    padding-top: 100px;
    color: var(--color-text);
    position: relative;
}

.about-container > .description {
    font-family: var(--text-font);
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.8);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.description {
    font-family: var(--text-font);
    margin-top: 20px;
    font-size: 0.8rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* Animaciones */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.members-section {
    margin-top: 40px;
}

.section-title {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 0 0 15px var(--color-primary);
}

.members-grid {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.member-card {
    font-family: var(--text-font);
    font-size: 0.7rem;
    width: 200px;
    background: var(--color-secondary);
    padding: 15px;
    border-radius: 2px;
    border: white solid 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member-card:hover {
    transform: scale(1.05);
    border-radius: 2px;
    border: white solid 1px;
}

.member-image {
    width: 100%;
    border-radius: 10px;
}

.member-name {
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--color-primary);
}

/* Switch button */
.switch-button {
    padding: 15px 50px;
    border: 2px solid var(--color-primary);
    font-size: 1rem;
    font-family: var(--text-font);
    color: var(--color-text);
    background: var(--color-secondary);
    cursor: pointer;
    overflow: hidden;
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
    position: relative;
    width: 20ch;
    user-select: none; /* Evita la selección azul */
    outline: none; /* Elimina el borde azul en móviles */
}

.switch-button:active {
    transform: scale(0.95); /* Da una sensación táctil */
}

.switch-button:hover {
    background-color: var(--color-secondary);
    color: white;
}

.switch-button::before {
    content: attr(data-alt-text);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 1s ease;
    z-index: 1;
}

.switch-button:active::before {
    left: -100%; /* Reproduce la animación hacia atrás */
}

.switch-button:hover::before {
    left: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .about-container {
        padding: 20px;
        padding-top: 80px;
    }

    .description {
        font-size: 1rem;

    }

    .switch-button {
        font-size: 1.2rem;
        padding: 10px 40px;
        margin: 20px;
    }

    .member-card {
        width: 150px;
        padding: 10px;
    }

    .member-name {
        font-size: 1rem;
    }
}
