.about-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   max-width: 100%;
   margin: auto;
   color: #fff;
   font-family: 'Orbitron-Medium', sans-serif;
   text-align: left;
}
.animated-text {
  text-align: justify;
}

.about-info {
   margin-bottom: 30px;
}

h1 {
   font-size: 32px;
   margin-bottom: 15px;
   color: #ff00ff;
}

p {
   font-size: 18px;
   margin-bottom: 20px;
   line-height: 1.6;
}
/* Estilo del switch container */
.switch-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px 0;
   position: relative;

}

.switch-background {
   position: relative;
   background: linear-gradient(90deg, rgba(51, 51, 51, 0), #1a1a1a, rgba(51, 51, 51, 0));
   width: 300px;
   height: 50px;
   border-radius: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8),
   0px 0px 10px rgba(0, 255, 255, 0.3);
   padding: 5px;
}

.switch-indicator {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 145px;
   height: 40px;
   border-radius: 20px;
   background: linear-gradient(120deg, rgba(208, 0, 255, 0.47), rgba(0, 255, 136, 0.46));
   transition: transform 0.4s ease-in-out;
   z-index: 1;
   box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
}

.switch-indicator.left {
   transform: translateX(0);
}

.switch-indicator.right {
   transform: translateX(150px);
}

.switch-btn {
   position: relative;
   z-index: 2;
   width: 50%;
   height: 100%;

   font-size: 12px;
   text-transform: uppercase;
   font-weight: bold;
   color: #ffffff;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   transition: color 0.3s ease;
}

.switch-btn.active {
   color: #00ffff;
}

.switch-btn:hover {
   color: #00ff88;
}

.members-container {
   align-items: center;
   justify-content: center;
   display: grid;
   grid-template-columns:200px 200px 200px ;
   gap: 50px;
   width: 100%;
}

.member-card {
   background: rgba(36, 37, 44, 0);
   border-radius: 12px;
   padding: 15px;
   text-align: center;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member-card:hover {
   transform: scale(1.05);
   box-shadow: 0 0 15px #00ffff;
}

.member-photo {
   width: 100%;
   height: auto;
   border-radius: 8px;
   margin-bottom: 10px;
}

.member-name {
   font-size: 18px;
   color: #fff;
}
