
/* Estilo para la página de login */
.login-page {

    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Alinea los campos de forma vertical */
    padding-top: 50px;

}

/* Estilo para el título */
.login-title {
    color: var(--color-text); /* Color de texto azul */
    font-size: 1.2rem;
    margin-bottom: 30px; /* Separación entre el título y los campos */
    text-align: center;
    margin-left: 100px;
    margin-right: 100px ;
}

.login-container{

    gap: 30px;
    display: grid;
}
/* Estilo del mensaje de error */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content(100%);
}

.inputField {

    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputPassword {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}