body{
    padding-top: 0px;
}
/* Estilo para la página de login */
.login-page {

    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Alinea los campos de forma vertical */
    width: 100%;
    max-width: 2000px; /* Ancho máximo del formulario */
    padding: 40px;
    border-radius: 8px;
    background-color: rgba(46, 46, 46, 0); /* Fondo del formulario */
    box-shadow: none; /* Sin sombra */
}

/* Estilo para el título */
.login-title {
    color: var(--color-text); /* Color de texto azul */
    font-size: 38px;
    margin-bottom: 30px; /* Separación entre el título y los campos */
    text-align: center;
    margin-left: 100px;
    margin-right: 100px ;
}

.login-container{
    gap: 30px;
    display: grid;
}
/* Estilo del mensaje de error */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content(100%);
}

.inputField {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputPassword {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}