
/* CSS */


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.presentation-container {
    padding: 0;
    margin: 0;

    height: 100vh; /* Ocupar toda la pantalla */
    width: 100vw; /* Ocupar todo el ancho */


    /* Centrar el contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;

}
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.presentation-container h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;


}
.button-container {
    position: absolute;
    bottom: 30%; /* Ajusta la posición de los botones */
    display: flex;
    gap: 20px;
    opacity: 0;
    transform: translateY(50px); /* Los botones comienzan desfasados hacia abajo */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transición para hacerlos aparecer */
}


/* Cuando los botones deben ser visibles (deslizar desde abajo) */
.button-container.show {
    opacity: 1;
    transform: translateY(0); /* Los botones se mueven a su posición original */
}
/* Animación de rotación del fondo */
@keyframes bg-rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
@keyframes rotate-line {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
/* Media queries for responsiveness */
@media (max-width: 768px) {

    .button-container{
        bottom: 40%;
    }
}


