/* Animation for rotating background */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes bg-rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Global Reset & Box Model */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Makes it easier to use rem units */
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 1.6;
  background: linear-gradient(135deg, #0A0F0D, #1B1F21 70%);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;

  color: var(--color-text);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  height: auto;
  padding-bottom: 20px; /* Optional padding for page content */
}
@keyframes gradientAnimation {
   0% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
 }




h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-text);
}

p {
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1f75fe;
}

ul, ol {
  padding-left: 1.5rem;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Form and Input Styles */
input, textarea, button {
  font-family: inherit;
}

/* Container for centered content */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main Content Styling */
.main-content {
  margin-top: 100px;
  padding: 20px;
}

/* Horizontal Line Styles */
hr {
  border: 0;
  height: 1px;
  background: #3c3c3c;
  margin: 2rem 0;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-text);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a3843;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
  border: 2px solid #2a3843;
}

/* Media Queries */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* Adjust font size on smaller screens */
  }

  .main-content {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* Further adjust font size on mobile */
  }

  .main-content {
    padding: 5px;
  }
}
