:root{
  --color-text: #ffffff; /* Texto blanco */
  --background-color: #232425;
  --color-primary: #ff00ff;
  --color-secondary: rgba(0, 255, 255, 0.44);;
  --main-font: "VT323";
  --color-shadow: #000000;
  --color-border:  #a072fb;
}
@font-face {
  font-family: 'Orbitron-Regular';
  src: url('./assets/fonts/Orbitron/static/Orbitron-Regular.ttf') format('opentype');
  font-weight: 00; 
  font-style: normal;
}
@font-face {
  font-family: 'Orbitron-Medium';
  src: url('./assets/fonts/Orbitron/static/Orbitron-Medium.ttf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url('./assets/fonts/Dosis/static/Dosis-Regular.ttf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-Light';
  src: url('./assets/fonts/Dosis/static/Dosis-Light.ttf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

