:root{
  --color-text: #ffffff; /* Texto blanco */
  --background-color: #272727;
  --color-primary: #00fd97;
  --color-secondary: rgb(104, 169, 101);
  --main-font: "VT323";
  --color-shadow: #206b21;
  --color-border: #528d99;
  --card-background: linear-gradient(135deg, #002c4a, #410076);
}
@font-face {
  font-family: 'Orbitron-Regular';
  src: url('./assets/fonts/Orbitron/static/Orbitron-Regular.ttf') format('opentype');
  font-weight: 00; 
  font-style: normal;
}
@font-face {
  font-family: 'Orbitron-Medium';
  src: url('./assets/fonts/Orbitron/static/Orbitron-Medium.ttf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url('./assets/fonts/Dosis/static/Dosis-Regular.ttf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'Dosis-Light';
  src: url('./assets/fonts/Dosis/static/Dosis-Light.ttf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

